.ntombi2{
border-radius:20px;
    background-color: rgb(234, 229, 235);
    width: 360px;
    height:700px;
    color: black;
 text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
margin: 0;}

.menuCard {
  width: 360px;
    height:700px;
  background: rgba(230, 222, 217, 0.55);
  border-radius: 12px;
  position: relative;

}

.title {
   display: block;     
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: start;
 margin: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
}

.card {
  top: 17px;
  margin-top: 30px;
  padding:20px;
  border-radius: 16px;
  text-align: center;
  background-color: rgba(220, 210, 204, 0.55);

}
.card22 {
 margin: 10px;
  background-color: rgba(220, 210, 204, 0.55);
  border-radius: 8px;
  justify-content: flex-start;
  text-align: start;
  width:230px;
  height: 100px;
  margin-bottom: 70px;
}

.card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50px;
  position: absolute;
  top:190px;
  transform: translateX(-50%);
}

.name {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
  text-align: start;
}




.iconRow {
  display: flex;
  justify-content: center;
  margin: 6px 0;
}
.iconR {
  display: flex;
  margin-bottom: 10px;
padding: 5px;
 
  
}

.icon {
  font-size: 16px;
  color: rgb(66, 7, 7);
}

.price {
  display: block;
  font-size: 10px;
  font-weight: 700;
  color: #0f0c0c;
}


.infoText {
  margin-top: 100px;
  text-align: start;
  color:rgb(66, 7, 7);
flex:1;
}
.textntombi{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  margin-top: 110px;
  padding: 20px;
}
.item{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  padding: 80px 0;
  flex-direction: column;
  position: relative;}

.viewMenu{
height: 30px;
  width:150px;
  border-radius: 20px;
  background: rgb(66, 7, 7);
  color: white;
   display: flex; 
  font-size: 20px;
  margin: 10px;
  justify-content: center;

}
.iconR2{
  display: flex;
  margin: 10px;
  padding: 10px;
  gap:20px
}


.card23 {
  position: relative;
  width: 350px;
  height: 700px;
  background: #ffffff;
  border-radius: 35px;
 
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
background-color: rgba(230, 222, 217, 0.55);
  border-radius: 8px;
  justify-content: flex-start;
  text-align: center;
 flex-direction: column;
}

.back {
  font-size: 24px;
  color: rgb(66, 7, 7);
  cursor: pointer;
  margin-bottom: 15px;
}


.image {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}


.title2 {
  font-size: 15px;
  font-weight: bold;
  color: rgb(66, 7, 7);
  text-align: start;
  margin: 10px;
}


.description {
  text-align: start;
  color: rgb(66, 7, 7);
  line-height: 1.6;
  font-size: 12px;
  margin-bottom: 30px;
  
}
.description {
  display: block;
  font-size: 12px;
  color: rgb(66, 7, 7);
  margin: 4px 0 8px 0;
  text-align: start;
margin: 10px;
}


.priceSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.label {
  display: flex;
  color: rgb(66, 7, 7);
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}


.price {
  color: rgb(66, 7, 7);
  font-size: 28px;
  border:solid white;
  margin:10px;
  border-radius:24px;
  background-color: white;
  
}

.heartButton {
  
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 15px;
  background: #d4d4d4;
  font-size: 22px;
  cursor: pointer;
  margin-right:200px;

}


.cartButton {
  
  height: 45px;
  border: none;
  border-radius: 25px;
  background: rgb(66, 7, 7);
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  position: absolute;
  margin-left: 250px;
  width:150px;
 
}

.plusButton {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  background: rgb(100, 37, 37);
  color: white;
  font-size: 28px;
  cursor: pointer;

}
.icons4{
  display: flex;
  background-color: rgb(66, 7, 7);
  border-radius: 20px;
  border: solid rgb(66, 7, 7);
  margin: 10px;
  margin-top: -50px;
gap:50px;
  height: 40px;
  font-size: 40px;
color: #ffffff;
}
.iconn{
  border: solid white;
width:50px;
height: 50px;
background-color: rgb(250, 246, 246);
border-radius: 20px;
}
.imageBtm{
  position: absolute;
  width: 150px;
  height: 150px;
  margin-left: 236px;
  margin-top: -115px;
  border-radius: 70px;

}
.lastline{
font-size: 15px;
  font-weight: bold;
  color: rgb(255, 254, 254);
  text-align: star
}
.lasttext{
  position: relative;
  color: rgb(66, 7, 7);
}
.line{
  background-color: black;
  width: 100%;
  height:1.5px;
}
.Contact{
  position: absolute;
  margin-left: 1000px;
  top: -3px;
  border-radius: 24px;
  height: 40px;
  width: 150px;
  background-color: rgb(66, 7, 7);
  color: white;
}
.storeButtons{
 font-size: 30px;
 display: flex;
 gap:20px;
}
.iconn{
  border: solid white;
width:40px;
height: 40px;
background-color: rgb(250, 246, 246);
border-radius: 20px;
}

@media(max-width: 767px){
  .Contact{
    margin-left: 60%;
  }

}

@media(max-width: 480px){
  .Contact{
    position: absolute;
    left: 60px;
  

  }
}