.ntombi2{
    color: rgb(66, 7, 7);
 text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
margin: 0;
}

.menuCard {
  width: 360px;
    height:720px;
  background: rgb(234, 229, 235);
  border-radius: 12px;
  position: relative;

}
.iconR {
  display: flex;
  margin-bottom: 10px;
padding: 5px;
  
}

.title {
   display: block;     
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: start;
 margin: 12px;
}
.iconR2{
  padding-top: 90px;
  display: flex;
  margin: 10px;
  padding: 10px;
  gap:30px;
  margin: 32px;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
}

.card {
  margin-top: 30px;
  padding:5px;
  border-radius: 16px;
  text-align: center;
  background-color: rgba(220, 210, 204, 0.55);
  margin: 5px;

}
.card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50px;
  position: absolute;
  top:225px;
  transform: translateX(-50%);
}
.card22 {
 margin: 10px;
  background-color: rgba(220, 210, 204, 0.55);
  border-radius: 8px;
  justify-content: flex-start;
  text-align: start;
  width:230px;
  height: 100px;
  margin-bottom: 70px;
}
.icons4{
  display: flex;
  background-color: rgb(66, 7, 7);
  border-radius: 20px;
  border: solid rgb(66, 7, 7);
 margin: 10px;
  margin-top: -50px;
gap:50px;
  height: 40px;
  font-size: 40px;
color: #ffffff;
}


.name {
  color:rgb(66, 7, 7);
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
  text-align: start;
}


.icon{
  font-size: 25px;
  text-align: center;
  background-color: rgb(214, 209, 209);
border: 3px solid rgb(214, 209, 209);
  border-radius: 10px;
}


.infoText {
  justify-content: start;
  margin-top: 100px;
  text-align: start;
  color:rgb(66, 7, 7);
flex:1;
}
.textntombi{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  margin-top: 110px;
  padding: 20px;
}
.item{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  padding: 80px 0;
  flex-direction: column;
  position: relative;}

.viewMenu{
height: 30px;
  width:150px;
  border-radius: 20px;
  background: rgb(66, 7, 7);
  color: white;
   display: flex; 
  font-size: 20px;
  margin: 10px;
  justify-content: center;

}



.card23 {
  position: relative;
  width: 350px;
  height: 720px;
  border-radius: 35px;
  box-shadow: rgb(27, 1, 1);
background-color:rgb(234, 229, 235);
  border-radius: 8px;
  justify-content: flex-start;
  text-align: center;
 flex-direction: column;
}


.image {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px;
  
 
}


.title2 {
  font-size: 15px;
  font-weight: bold;
  color: rgb(66, 7, 7);
  text-align: start;
  margin: 10px;
  
}
.description {
  display: block;
  font-size: 12px;
  color: rgb(66, 7, 7);
  margin: 4px 0 8px 0;
  text-align: start;
margin: 10px;
}


.priceSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.label {
  display: flex;
  color: rgb(66, 7, 7);
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}


.price {
  display: block;
  color: white;
  font-size: 20px;
  width:90px;
  height:30px;
  margin:5px;
  margin-left: 25px;
  border-radius:24px;
  background-color: rgb(66, 7, 7);
  
}
.price2 {
  display: block;
  color: rgb(66, 7, 7);
  font-size: 25px;
  width:90px;
  height:30px;
  margin:5px;
  margin-left: 25px;
  border-radius:24px;
  background-color: white;
}

.heartButton {
  
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 15px;
  background: #d4d4d4;
  font-size: 22px;
  cursor: pointer;
  margin-right:200px;

}


.cartButton {
  
  height: 45px;
  border: none;
  border-radius: 25px;
  background: rgb(66, 7, 7);
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  position: absolute;
  margin-left: 250px;
  width:150px;
}

.plusButton {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  background: rgb(100, 37, 37);
  color: white;
  font-size: 28px;
  cursor: pointer;

}

.imageBtm{
  position: absolute;
  width: 150px;
  height: 150px;
  margin-left: 236px;
  margin-top: -115px;
  border-radius: 70px;

}
.lastline{
font-size: 15px;
  font-weight: bold;
  color: rgb(255, 254, 254);
  text-align: star
}
.lasttext{
  position: relative;
  color: rgb(66, 7, 7);
}
.line{
  background-color: black;
  width: 100%;
  height:1.5px;
}
.Contact{
  position: absolute;
  margin-left: 950px;
  top: -3px;
  border-radius: 24px;
  height: 40px;
  width: 150px;
  background-color: rgb(66, 7, 7);
  color: white;
  border:none;
}
.storeButtons{
 font-size: 30px;
display: flex;
 gap:10px;
 
}
.iconn{
  border: solid rgb(250, 246, 246);
width:50px;
height: 50px;
background-color: rgb(250, 246, 246);
border-radius: 20px;
}
.iconn1{
  text-align: center;
  justify-content: center;
  border-radius:20px;
background-color:rgb(250, 246, 246);
width: 40px;
height: 40px;

}
.Uline{
 color:rgb(66, 7, 7);
}
@media(max-width: 767px){
  .Contact{
    position: absolute;
    margin-left: 80%;
  }

}

@media(max-width: 480px){
  .Contact{
    position:relative;
    right: 50px;
    top: -50px;
  }
.card23{
  top: 45px;
  }

  
}