.content{
  display: flex;
  justify-content: space-between;
  margin: auto;

}
.cards2{
  padding: 10px;
  border-radius: 24px; 
  text-align:start;
margin: 0 auto;
}
.txt{
  color: maroon;
  width: 100%;
  height: 70%;
  display:flex;
  padding: 20px;
align-items: center;
justify-content: center;
position: relative

}


.left{
  display: flex;
  flex-direction: column;
  height: 100%;
  width:70%;
  
}
.left span{
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}
.left button{
  height: 30px;
  width:100px;
  border-radius: 20px;
  background: rgba(215, 110, 110, 0.836);
  color: blue;
  margin-top: 30px;
  margin-bottom: 20px;
}
.right {
  display: flex;
  height:100%;
  width:70%;
  align-items: center;
  justify-content: center;

}

.right img{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;

}

