.ntombi{
border-radius:20px;
    background-color: rgb(234, 229, 235);
    width: 320px;
    height:320px;
    color: black;
 text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
margin: 0;
}
.textntombi{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  margin-top: 110px;
  padding: 20px;
}

.name{
  font-size: 18px;
 font-weight: 600;

 } 
 .description{
  font-size: 12px;
  

}
.iconRow{
  text-align: center;
  justify-content: center;


}
.icon{
  font-size: 40px;
  text-align: center;
 margin: 15px;
  background-color: rgb(214, 209, 209);
border: 3px solid rgb(214, 209, 209);
  border-radius: 10px;
  margin-top: 40px;
 transform: translateX(-50);
 width: 40px;
 

 
}
.price{
  position: absolute;
  bottom: 12px;
  width: 70px;
  height: 20px;
  font-weight: 500;
  transform: translateX(-50%);
  background-color: rgb(66, 7, 7) ;
  border: 3px solid black;
  border-radius: 10px;
  bottom: -10px;
}

.cardImg{
 width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  transform: translateX(-50%);
  top: -100px;
   color: rgb(245, 237, 237);
   border-radius: 100px;
}
.cardImgSpecial{
 width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  transform: translateX(-50%);
  top: -100px;
   color: rgb(245, 237, 237);
   border-radius: 100px;
  
}
.item{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  padding: 80px 0;
  flex-direction: column;
  position: relative;
  
}
.infoText {padding: 1px;
  text-align: start;
  color:rgb(66, 7, 7) ;
flex:1;
}
.learnMore{
height: 40px;
  width:120px;
  border-radius: 20px;
  background: rgb(66, 7, 7);
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
}