.nav {
    position: fixed; 
    top: 0;
    height:60px;
    width:100vw ;
    background-color: rgb(241, 234, 234) ;
}
.content{
    display: flex;
  margin: auto;
  margin: auto;
  justify-content: space-between;
 
}
.links {
    display: flex;
    align-items: center;
    gap: 10px;
}
.link {
    text-decoration: none;
    color: brown;
    padding: 5px 10px;
    cursor: pointer;
}
.link:hover {
    color:blue;


}
.brandSub {
  font-size: 1.2rem;
  color: #8c6d53;
  margin-top: 20px; 
}