nav{
display: flex;
   text-align: start;
    justify-content: flex-start;
flex-wrap: wrap;
}
.content{
display: flex;
   justify-content: space-between;
   align-items: center;
   flex:1;
   flex-wrap: wrap;
}
    
.links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

}
.link {
    text-decoration: none;
    color: rgb(66, 7, 7);
    padding: 5px 10px;
    cursor: pointer;
}
.link:hover {
    color:rgb(255, 94, 0);


}
.heading {padding: 40px;
  text-align: start;
  font-size: 15px;
  font-weight: bold;
  color: rgb(66, 7, 7);

}
.sNow{
    border-radius: 24px;
  background: rgb(66, 7, 7);
  color: white;
  height: 30px;
  border:rgb(66, 7, 7);
}
.sNow:hover{
    color:orange;

}
@media(width<=658px) and (width>=480){
    nav{
     display: flex;
   
    }
    
}


