nav {
    position: fixed; 
    top: 0;
    height:60px;
    width:100vw ;
    background-color: rgb(147, 146, 146) ;
}
.content {
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.links {
    display: flex;
    align-items: center;
    gap: 10px;
}
.link {
    text-decoration: none;
    color: brown;
    padding: 5px 10px;
    cursor: pointer;
}
.link:hover {
    color:blue;

}
.profile-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.brandSub {
  font-size: 1.2rem;
  color: #8c6d53;
  margin-top: -10px; /* Pulls it right under FLAVORED */
}
