.hero {
  background: rgb( 75, 47, 47);
  padding: 10px;
  border-radius: 24px; 
  text-align:start;
}
.heroImage{
  display:flex;
  width: 200px;
  height:200px;
  border: 25px;
}
.viewMenu {
    margin-top: 15px;
  padding: 10px 20px;
  background-color: #8c6d53; 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.categories {
    display: grid;

}
.iconRow{
    justify-content: space-between;
    gap: 10px;
}
.left{
  display: flex;
  gap: 10px;
  

}
.info {
  display:flex;
  padding: 20px;
  background-color:rgb( 75, 47, 47);
  border-radius: 24px;
  text-align:left;
align-items: left;
justify-content: space-between;
gap: 30px;
}
