.cards{
  padding: 10px;
  border-radius: 24px; 
  text-align:start;
  margin: 0 auto;
}
.content{

  display: grid;
  justify-content: space-between;
  margin: auto;
  gap: 30px;
  padding: 50px 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }


.card {
  background: rgb(150, 150, 153);
  padding: 20px;
  border-radius: 20px; 
  text-align: start;
  justify-content: center;

}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px 0;
 
}

.infoBlock {padding: 40px;
  background-color: #fff;
  border-radius: 20px;
  text-align: left;
  
}

.learnMore {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #8c6d53; 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;


}
.card img{
  position: absolute;
  width:90px;
  height:90px;
  border-radius: 50px;
  

}
